.score-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #222;
    border-radius: 15px;
    padding: 30px;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.teams {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.team-section {
    margin-bottom: 30px;
}

.score-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.score-box {
    background-color: #111;
    border: 2px solid #4caf50;
    border-radius: 10px;
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    color: #4caf50;
}

    .score-box label {
        font-size: 12px;
        color: #aaa;
        margin-bottom: 3px;
    }

.special-note {
    margin-top: 20px;
    font-weight: bold;
    color: #ff4444;
}

.golden {
    color: #ffa500;
}

.vs-label {
    align-self: center;
    font-size: 32px;
    font-weight: revert-layer;
    color: #ffffff;
}
