@{
    ViewData["Title"] = "Admin";
}
<div style="text-align: center;">
    <h1>Redigér kampe</h1>
    @foreach (var i in ViewBag.fields)
    {
        <div style="margin: 20px auto; border: 2px solid gray; border-radius: 5px; padding: 20px; width: 50vh;">
            <h4>Bane @i.Id</h4>
            @if (@i.CurrentMatch == null)
            {
                <p>Status: Ledig</p>
                <div class="button-container">
                    <a asp-action="StartGame" asp-route-fieldId=@i.Id id="startMatchBtn_@i.Id" class="btn btn-primary">Start kamp</a>
                </div>
            }
            else
            {
                <p>Status: Optaget</p>
                <div class="button-container">
                    <a asp-action="EndMatchBtn" asp-route-matchId=@i.CurrentMatch.Id id="endMatchBtn_@i.Id" class="btn btn-primary">Slut kamp</a>
                </div>
            }
        </div>
    }
</div>