
@{
	ViewData["Title"] = "Admin";
}
<div>
	<h1>Manage Matches</h1>
	@foreach (int i in ViewBag.FieldIds)
	{
		<div style="margin-left: 40px; border: 1px solid gray; padding: 5px">
			<h4>Field @i</h4>
			<p>Status: Ongoing</p>
			<button id="editMatchBtn+@i">Enter Match</button>
			<button id="newMathcBtn+@i">Start New Match</button>
		</div>
	}
</div>
<a asp-action="StartGame" class="btn btn-primary">Start Kamp</a>