<div>
	<form method="post" action="@Url.Action("ChangePassword", "Admin")">
		<input type="password" name="oldPassword" placeholder="Current Password" />
		<input type="password" name="newPassword" placeholder="Old Password" />
		<button type="submit">Login</button>
	</form>
</div>