<form method="post">
    <input type="text" name="username" placeholder="Username" id="username"/>
    <input type="password" name="password" placeholder="Password" id="password"/>
    <button type="submit" id="login-button">Login</button>
    @if (ViewBag.Error != null)
    {
        <p style="color:red;">@ViewBag.Error</p>
    }
</form>