<form method="post">
    <input type="text" name="username" placeholder="Brugernavn" id="username" />
    <input type="password" name="password" placeholder="Adgangskode" id="password" />
    <button type="submit" id="login-button">Log ind</button>
    @if (ViewBag.Error != null)
    {
        <p style="color:red;">@ViewBag.Error</p>
    }
</form>
