
@{
	ViewBag["Title"] = "Start Kamp";
}
<div class="text-center">
	<h1 class="display-4">Velkommen til admin siden</h1>
</div>


<form asp-action="StartGameForm" asp-controller="Admin" method="post">
	<input id="Text1" type="text" />
	<input id="Radio1" type="radio" />
	<input id="Text2" type="text" />
	<input id="Radio2" type="radio" />
	<input id="Text3" type="text" />
	<input id="Radio3" type="radio" />
	<input id="Text4" type="text" />
	<input id="Radio4" type="radio" />
	<input id="Text5" type="text" />
	<input id="Radio5" type="radio" />
	<input id="Text6" type="text" />
	<input id="Radio6" type="radio" />
	<input id="Text7" type="text" />
	<input id="Radio7" type="radio" />
	<input id="Text8" type="text" />
	<input id="Radio8" type="radio" />
	<input id="Text9" type="text" />
	<input id="Radio9" type="radio" />
    <button class="btn btn-primary mt-4" type="submit">Start dette game</button>
</form>