@model DTO.Giveaway.GiveawayDto

<h2>Deltagere for @Model.Name</h2>

@if (Model?.Contestants?.Any() == true)
{
    <ul>
        @foreach (var contestant in Model.Contestants)
        {
            <li>@contestant.Name - @contestant.Email</li>
        }
    </ul>
}
else
{
    <p>Der er endnu ikke tilføjet deltagere.</p>
}
<a href="@Url.Action("AdminGiveaway", "Admin")">Tilbage til konkurrencer</a>
