html, body {
    height: 100%;
}

#divContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #003A29;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #2B2E34;
}

footer p {
    margin: 15px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

        nav ul li {
            margin: 15px 15px;
        }

            nav ul li a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;
            }

                nav ul li a:hover {
                    color: #FFD700;
                }

.container {
    flex-grow: 1;
    padding: 20px;
}
